DEV = true # enable or disable dev mode
CLI_ACTIVE = true # enable or disable wp-cli
DEV_URL = http://localhost:3000/wp-content/plugins/seo-change-monitor/frontend

PLUGIN_SLUG = seo-change-monitor
PLUGIN_SLUG_PRO = seo-change-monitor-pro
SERVER_VARIABLES = SEO_CHANGE_MONITOR_

DEV_SSL = false # enable or disable ssl
DEV_SSL_CERT_PATH = C:/laragon/etc/ssl/laragon.crt # your ssl cert path
DEV_SSL_KEY_PATH = C:/laragon/etc/ssl/laragon.key # your ssl key path

# playwright config
DEV_DOMAIN = http://localhost:3000
WP_USERNAME =
WP_PASSWORD =